@media (max-width: 1698px) {
  .app {
    &-left,
    &-right {
      padding: 20px;
    }
    &-left {
      min-width: 272px;
      &__controls {
        flex-direction: column;
        gap: 10px;
        button,
        select {
          width: 100%;
        }
      }
    }
  }
}
.app {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}
